$greenish-teal: #30bd9a;
$squash: #f6a623;
$white: #f2f2f2;
$pinkish-grey: #c7c7c7;
$dark-grey: #d0d0d0;
$black: #232323;
$charcoal-grey: #4a4a4a;
$turquoise: #00b2a9;
$windows-blue: #3095b4;
$warm-grey: #747474;
$bluegreen: #007b7e;
$purpley-grey: #9b9b9b;
$golden-yellow: #f8c61c;
$marine: #043b52;
$navy: #002e41;
$cerulean: #009ece;
$red: #ab110a;
$error: #cd010d;
$white-two: #d8d8d8;
$warm-grey-two: #979797;
$pinkish-grey-two: #d0d0d0;
$white--light: #ffffff;
$blue--dark: #005173;
$sea-blue: #0a6698;